/*
HTML RESET
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Main Styles */

@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* HEADER */

.header {
  background-color: #dce8f2;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

h1 {
  color: #0d0d0d;
}

h3 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

/* BODY */

body {
  background-color: #4c6173;
  color: #fff;
  font-family: "Quantico", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INITIAL BUTTONS */

#playerone-start,
#playertwo-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #1c242c;
  color: #fff;
  border: none;
  width: 300px;
  padding: 10px 20px;
  margin: 10px;

  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #0d0d0d;
}

/* GAME BOARD */

#oppboard,
#playerboard {
  margin: 30px;
}

.grid {
  background-color: #dce8f2;
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  margin: 25px 50px;
  border: 3px solid #1c242c;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
  border: 1px solid #1c242c;
  color: #1c242c;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  align-content: center;
}

.ship {
  background-color: #84a4bf;
}

#endturn {
  display: none;
}

.hit {
  background-color: #fdc0c0;
  color: #a60505;
}

.miss {
  background-color: #c0c0c0;
  color: #0d0d0d;
}

/* DIALOG */

dialog {
  width: 100%;
  height: 100%;
}

/* GAME START */
#playertwo-start {
  display: none;
}

#oppboard {
  display: none;
}
